<ul *ngIf="paginas?.length > 0" class="pagination">
  <li class="page-item" *ngFor="let pagina of paginas" [ngClass]="pagina-1 == paginador.number?'disabled':''">
  <a class="page-link" [routerLink] = "['/clientes/page', pagina-1]">{{ pagina }}</a>
  </li>
</ul>
