<div class="card bg-dark text-white">
    <div class="card-header">
        <div class="">
            <h1>{{titulo}}</h1>
        </div>
    </div>
    <div class="card-body ">
      <div class="container">
        <div class="row">
          <div class="col-sm">

            <ul class="list-group text-dark">
              <li class="list-group-item">{{cliente.nombre}}</li>
              <li class="list-group-item">{{cliente.apellido}}</li>
              <li class="list-group-item">{{cliente.email}}</li>
              <li class="list-group-item">{{cliente.createAt | date: "fullDate"}}</li>
            </ul>
            <div class="input-group">
                <div class="custom-file">
                    <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                    <label class="custom-file-label" for="inputGroupFile04">Seleccionar Foto</label>
                </div>
                <div class="input-group-append">
                    <button (click)="subirFoto()" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir</button>
                </div>
            </div>
          </div>
          <div class="col-sm">

          </div>
        </div>
      </div>


    </div>
</div>
