<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <!--    <h5 class="card-title">Listado de Clientes</h5>-->



    <div class="">

      <table class="table table-table-bordered table-striped">
        <thead>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>NOMBRE CONTACTO</th>
        <th>CARGO CONTACTO</th>
        <th>DIRECCION</th>
        <th>CIUDAD</th>
        <th>PAIS</th>
        <th>TELEFONO</th>
        <th>EMAIL</th>
        </thead>
        <tbody>
        <tr >
          <td><button type="button" name="button"></button></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button type="button" name="button">Editar</button>
          </td>
          <td>
            <button type="button" name="eliminar">Eliminar</button>
          </td>
        </tr>
        </tbody>
      </table>
      <paginator-nav></paginator-nav>
    </div>

  </div>
</div>
