<!--The content below is only a placeholder and can be replaced.-->

<app-heder></app-heder>
<div class="container my-3 wrap">

<router-outlet></router-outlet>
<paginator-nav></paginator-nav>
</div>
<app-footer></app-footer>
