<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
<!--    <h5 class="card-title">Listado de Clientes</h5>-->

  <div class="my-2 text-left">
    <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/clientes/form']">Crear Cliente</button>
  </div>

<div class="">
  <div class="alert alert-info" *ngIf="clientes?.length==0">
    No hay registros para mostrar!!!
  </div>
  <table class="table table-table-bordered table-striped" *ngIf="clientes?.length>0">
  <thead>
    <th>ID</th>
    <th>NOMBRE</th>
    <th>APELLIDO</th>
    <th>EMAIL</th>
    <th>FECHA</th>
  </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
      <td><button type="button" name="button" [routerLink] = "['/clientes/ver', cliente.id]" class="btn btn-success btn--sm">{{ cliente.id }}</button></td>
      <td>{{ cliente.nombre }}</td>
      <td>{{ cliente.apellido }}</td>
      <td>{{ cliente.email }}</td>
      <td>{{ cliente.createAt }}</td>
      <td>
        <button type="button" name="button" [routerLink] = "['/clientes/form', cliente.id]" class="btn btn-primary">Editar</button>
      </td>
      <td>
        <button type="button" name="eliminar" (click)= 'delete(cliente)' class="btn btn-danger">Eliminar</button>
      </td>
      </tr>
    </tbody>
    </table>
    <paginator-nav *ngIf="paginador" [paginador] = "paginador"></paginator-nav>
</div>

  </div>
</div>
