<div class="card bg-dark text-white">
<div class="card-header">
    <div class="">
      <h1>{{titulo}}</h1>
    </div>
</div>
<div class="card-body ">

<form #formCliente="ngForm">
  <div class="form-group row" >
    <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" required minlength= "4" #nombre="ngModel">
      <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
        <div *ngIf="nombre.errors.required">
          Nombre Incorrecto
        </div>

        <div *ngIf="nombre.errors.minlength">
          El nombre debe terner mas de 4 caracteres!!!
        </div>
      </div>
    </div>
  </div>

<div class="form-group row" >

  <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
  <div class="col-sm-6">
    <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" required minlength="4" #apellido= "ngModel">
    <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
      <div *ngIf="apellido.errors.required">
        Apellido Incorrecto
      </div>
      <div *ngIf="apellido.errors.minlength">
        El apellido debe terner mas de 4 caracteres!!!
      </div>
    </div>
  </div>

</div>
<div class="form-group row" >

  <label for="apellido" class="col-form-label col-sm-2">Fecha De creacion</label>
  <div class="col-sm-6">
    <input type="date" class="form-control" [(ngModel)]="cliente.createAt" name="createAt" required minlength="4">

  </div>

</div>
<div class="form-group row" >
  <label for="email" class="col-form-label col-sm-2">Email</label>
  <div class="col-sm-6">
    <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" required email #email= "ngModel">
    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">
        Email Incorrecto
      </div>
      <div *ngIf="email.errors.email">
        Email Debe tener un formato valido
      </div>
    </div>
  </div>
  </div>

<div class="form-group row">
  <div class="col.sm-6">
    <button class="btn btn-primary" role="button" (click)= 'create()' *ngIf="!cliente.id else elseBlock" [disabled]="!formCliente.form.valid">Crear</button>

    <ng-template #elseBlock>
      <button class="btn btn-primary" role="button" (click)= 'update()' [disabled]="!formCliente.form.valid">Editar</button>
    </ng-template>
  </div>
</div>


</form>

</div>
</div>
